version: "3"
services:
  web:
    build: .
    command: npm start
    ports:
      - "80:80"
    volumes:
      - .:/usr/app/
      - /usr/app/node_modules
    depends_on:
      - redis
  redis:
    image: redis
    expose:
      - "6379"
